// Styling for the post page
.post-preview {
  > a {
    color: $verydarkblue;
    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }
    > .post-title {
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 10px;
      font-family: 'Cute Font', cursive;
    }
    > .post-subtitle {
      font-weight: 300;
      margin: 0 0 10px;
      font-family: 'Cutive Mono', monospace;
    }
  }
  > .post-meta {
    font-size: 14px;
    // font-style: italic;
    font-family: 'Cutive Mono', monospace;
    margin-top: 0;
    color: $verydarkblue;
    > a {
      text-decoration: none;
      color: $verydarkblue;
      &:focus,
      &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 46px;
      }
    }
  }
}

.post-content {
  font-family: 'Cutive Mono', monospace;
}

.post-subheading {
  font-family: 'Cute Font', cursive;
  font-size: 40px;
}

.post-content li {
  padding-top: 15px;
}

.post-content li a {
  text-decoration: underline;
}

.post-content .post-sublist {
  // border: thin dashed lightgray;
  background: #f1f1f1;
  padding: 10px;
  margin: 50px 30px;
  font-size: smaller;
}

.post-content .post-quote {
  background: #f1f1f1;
  border-radius: 25px;
  padding: 10px;
  margin: 50px 30px;
  text-align: center;
  font-size: smaller;
} 

.post-content .post-img {
  width: 110%; 
}